body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.navbar-nav .nav-link:hover {
  color: #ffe082 !important;
}


/* Cards */
.insight-card {
  border-left: 5px solid #0d6efd;
  transition: all 0.3s ease;
}
.insight-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Table */
.table th, .table td {
  text-align: center;
}
.table th {
  background-color: #0d6efd;
  color: white;
}
.table-striped tbody tr:nth-child(odd) {
  background-color: #eef3fb;
}
