<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Student Performance Analyzer</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/js/add.js">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="register-box">
        <h2>📝 Register</h2>

        <form method="POST" action="/register">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <select name="role" required>
            <option value="">Select Role</option>
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
        </select>
        <button type="submit"><a href="/templates/Register.html">Sign Up</a></button>
        </form>

        <p class="hint">Already have an account? <a href="/login">Login here</a></p>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>


